@model IEnumerable<InventoryPizzaExpress.Models.Mapping.MenuRecipe>

@{
    ViewBag.Title = "Index";
}

<section class="content">
    <div id="loader">
        <div class="overlay" style="display: block; position: fixed; background-color: white; z-index: 2147483647 !important; opacity: 0.9; overflow: hidden; text-align: center; height: 100%; width: 100%; padding-top: 15%; padding-right: 10%">
            <i class="fa fa-refresh fa-4x fa-spin"></i>
        </div>
    </div>
    
    <div class="box box-primary">
        <div class="box-body">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th> <span>Store</span></th>
                            <th>
                                <span>Menu Number</span>
                            </th>
                            <th>
                                <span>Menu Name</span>
                            </th>
                            <th>
                                <span>Recipe Name</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.storeid
                                </td>
                                <td>
                                   @item.obj_num
                                </td>
                                <td>
                                    @if (item.name_1 != null && item.name_1 != "")
                                    {
                                       @item.name_1

                                    }
                                    else
                                    {
                                       @item.name_2

                                    }
                                </td>
                                <td>
                                        @if (item.RecipeId != null && item.RecipeId != "")
                                        {
                                            <a class="open-AddBookDialog btn btn-primary" data-id=@item.obj_num data-name="@item.name_1" data-store=@item.storeid data-toggle="modal" data-target="#modal-default">
                                            @item.RecipeId
                                            </a>
                                        }
                                        else
                                        { <a class="open-AddBookDialog btn btn-primary" data-id=@item.obj_num data-name="@item.name_1" data-store=@item.storeid data-toggle="modal" data-target="#modal-default">
                                                Map Recipe
                                         </a>

                                        }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="modal fade" id="modal-default" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title">Map Menu Item</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4">Selected store</div>
                                        <div class="col-md-12">
                                            <label for="Store"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">Seleted Menu Details</div>
                                        <div class="col-md-12">
                                            <label for="obj_num"></label>-
                                            <label for="name_1"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">Select Recipe to Map</div>
                                        <div class="col-md-12">
                                            @Html.DropDownList("Recipe", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="Save">Save changes</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
           

            

            @Scripts.Render("~/bundles/jquery")


            <link href="~/Scripts/dist/css/bootstrap-select.min.css" rel="stylesheet" />
            <script src="~/Scripts/jquery.dataTables.min.js"></script>
            <script src="~/Scripts/dataTables.bootstrap.min.js"></script>

            <script>
                    var url = window.location.search;
                    //url = url.replace("?", '');
                    //var table = $('.table').DataTable({
                    //    "pagingType": "simple",
                    //    stateSave: true,

                    //});
                    //if (url == '')
                    //{
                    //    table.state.clear();
                    //    table.destroy();

                    //    $('.table').DataTable({
                    //        "pagingType": "simple",
                    //        stateSave: true,

                    //    });
                //}
                    $('.table').DataTable({
                                "pagingType": "simple",
                                stateSave: true,
                 
                       
                            });
                    $(document).on("click", ".open-AddBookDialog", function () {
                        var id = $(this).data('id');
                        var name = $(this).data('name');
                        alert($(this).data('name'));
                        var store = $(this).data('store');
                        $("label[for='obj_num']").html(id);
                        $("label[for='name_1']").html(name);
                        $("label[for='Store']").html(store);
                    });
                    $(document).on("click", "#Save", function () {
                       
                        var storeId = $("label[for='Store']").text();
                        var targetId = $("label[for='obj_num']").text();
                        var SourceId = $("#Recipe option:selected").val();



                        $.ajax({
                            type: "POST",
                            url: "/Menurecipe/ManualMapping",
                            data: '{SourcemenuId: ' + SourceId + ', targetmenuId: ' + targetId + ', storeid: ' + storeId + '}',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {
                                debugger;
                                location.reload();


                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }
                        });

                    });
                    $(window).load(function () {
                        $("#loader").fadeOut(1000);
                    });
                    $(document).ready(function () {
                        $("#Recipe").prop('class', 'selectpicker form-control');
                        $("#Recipe").attr('data-live-search', true);
                        $('#Recipe').selectpicker();

                    });
            </script>
        </div>
    </div>
</section>