@using IMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<section class="content">

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()
        <div class="container body-content">

            <div class="login-box" >
                <div class="login-logo">
                    <a><b>REZ</b>Inventory</a>
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <p class="login-box-msg">Sign in</p>

                    <hr>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                   
                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                   
                   
                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                        <div class="form-group has-feedback">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                    <div class="row">
                        <div class="col-xs-8">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4"><input type="submit" value="Log in" class="btn btn-default" /> </div>
                        <!-- /.col -->
                    </div>
                  
                    
                   
                        @Html.ActionLink("Register as a new user", "Register")
                  



                </div>
                <!-- /.login-box-body -->
            </div>
        </div>
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</section>