@model IEnumerable<InventoryPizzaExpress.I_OrderDetails>

@{
    ViewBag.Title = "Index";
}
<section class="content">

    <p>
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-default" })
    </p>
    <div class="box box-primary">

        <div class="box-body" style="overflow-x:auto;">
            <table class="table">

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderNo)
                    </th>
                    <th>
                        <span>Store Name</span>
                        @*@Html.DisplayNameFor(model => model.Store_Details.storename)*@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reference)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        <span>
                            Created By
                        </span>
                        @*@Html.DisplayNameFor(model => model.CreatedBy)*@
                    </th>
                    <th>
                        <span>Created On</span>
                        @*@Html.DisplayNameFor(model => model.CreatedOn)*@
                    </th>
                    <th>
                        <span>Modified By</span>
                        @*@Html.DisplayNameFor(model => model.ModifiedBy)*@
                    </th>
                    <th>
                        <span>Modified On</span>
                        @*@Html.DisplayNameFor(model => model.ModifiedOn)*@
                    </th>

                    <th>Action</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("OrderItemCatalog", "OrderDetails", new { Id=item.Id})">@Html.DisplayFor(modelItem => item.OrderNo)</a>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Store_Details.storename)
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DeliveryDate))
                       
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reference)
                        </td>
                        <td>
                            @{

                                if (item.Status == null)
                                {
                                    <span> Suspended</span>
                                }
                                else if (item.Status == 1)
                                {
                                    <span> Booked</span>
                                }
                                else if (item.Status == 0)
                                {
                                    <span> Suspended</span>
                                }
                                else if (item.Status == 3)
                                {
                                    <span> Received</span>
                                }
                                else if (item.Status == -99)
                                {
                                    <span> Cancelled</span>
                                }

                            }

                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>

                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedOn))
                         
                          
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                       
                        <td>
                       
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ModifiedOn))
                        </td>
                        @{
                            var trClass = (item.Status == 3 || item.Status == 1) ? "hide" : "";
                        }
                        <td class="@trClass">

                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                                }

            </table>
            </div>
        </div>
</section>