@model IEnumerable<InventoryPizzaExpress.I_UnitMaster>

@{
    ViewBag.Title = "Index";
}
<section class="content">
  
    <style>
        table th, tr {
            text-align: center;
        }
    </style>
    <p>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Units")';return false;">Add</button>
    </p>

    <div class="box box-primary">

        <div class="box-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitName)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |                               
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script>

        $('.table').DataTable({"columnDefs": [ {
            "targets": 1,
            "orderable": false
        } ]});
    </script>
